In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from linearmodels import PanelOLS
import plotly.express as px

sns.set_theme()

# Functions

# Data loading and preparation

In [15]:
def Pivoting(df): # Function to pivot the dataframe
    df_r = df.pivot(index=['iso3','hdicode','region','year'], columns='indicator_name', values='value').reset_index()
    df_r.reset_index(inplace=True)
    df_r.columns.name = None
    df_r.drop(columns=['index'], inplace=True)
    return df_r

## Data Loading

In [3]:
path = 'Datasets/'

gdp_pc_ppp = pd.read_csv(path + 'GDP per capita, PPP (current international)/WB_WDI_NY_GDP_PCAP_PP_CD.csv') # GDP per capita, PPP (current international $)
hdr = pd.read_csv(path + 'HDR/HDR25_Composite_indices_complete_time_series.csv',encoding='latin1') # Human Development Index
hdr_labels = pd.read_excel(path + 'HDR/HDR25_Composite_indices_metadata.xlsx', sheet_name = 'codebook') # Human Development
schooling = pd.read_csv(path+'UNESCO/OPRI_DATA_NATIONAL.zip', dtype={'INDICATOR_ID': 'object'}, compression='zip')  # Schooling data
schooling_labels = pd.read_csv(path+'UNESCO/OPRI_LABEL.csv') # Schooling labels

/var/folders/pl/qxmk8x1d1m586z4_j013bvqw0000gn/T/ipykernel_15493/267615297.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  schooling = pd.read_csv(path+'UNESCO/OPRI_DATA_NATIONAL.zip', dtype={'INDICATOR_ID': 'object'}, compression='zip')  # Schooling data

## Data preparation

### HDR

In [4]:
HDR_ISO_country = {hdr['iso3'][i]:hdr['country'][i] for i in range(len(hdr))}

In [5]:
hdr_labels.drop(columns=['Time series'], inplace=True)
hdr_labels.dropna(subset=['Short name'], inplace=True)
hdr_labels.rename(columns={'Full name': 'indicator_name', 'Short name': 'indicator'}, inplace=True)

In [6]:
HDR = hdr.copy()
df_melted = HDR.melt(id_vars=['iso3', 'country', 'hdicode', 'region', 'hdi_rank_2023'], var_name='indicator_year', value_name='value') # Melt the dataframe to long format
df_melted[['indicator', 'year']] = df_melted['indicator_year'].str.extract(r'([a-z0-9_]+)_(\d{4})')
df_final = df_melted[['iso3','hdicode','region','year', 'indicator', 'value']] # Reorder and select final columns
HDR = pd.merge(hdr_labels, df_final, on=['indicator'], how='right') # Merge with labels

In [7]:
HDI_indicators = ['hdi', 'le', 'eys', 'mys', 'gnipc']
GDI_indicators = ['gdi_group', 'gdi', 'hdi_f', 'le_f', 'eys_f', 'mys_f', 'gni_pc_f', 'hdi_m', 'le_m', 'eys_m', 'mys_m', 'gni_pc_m']
IHDI_indicators = ['ihdi', 'coef_ineq', 'loss', 'ineq_le', 'ineq_edu', 'ineq_inc']
GII_indicators = ['gii_rank', 'gii', 'mmr', 'abr', 'se_f', 'se_m', 'pr_f', 'pr_m', 'lfpr_f', 'lfpr_m']
PHDI_indicators = ['rankdiff_hdi_phdi', 'phdi', 'diff_hdi_phdi', 'co2_prod', 'mf']
Population_indicator = ['pop_total']

In [8]:
hdi = HDR[HDR['indicator'].isin(HDI_indicators+Population_indicator)]
gdi = HDR[HDR['indicator'].isin(GDI_indicators+Population_indicator)]
ihdi = HDR[HDR['indicator'].isin(IHDI_indicators+Population_indicator)]
gii = HDR[HDR['indicator'].isin(GII_indicators+Population_indicator)]
phdi = HDR[HDR['indicator'].isin(PHDI_indicators+Population_indicator)]

In [16]:
HDI = Pivoting(hdi)
GDI = Pivoting(gdi)
IHDI = Pivoting(ihdi)
GII = Pivoting(gii)

#### GDP per Capita PPP

In [11]:
WB_ISO_country = {gdp_pc_ppp['REF_AREA_ID'][i]:gdp_pc_ppp['REF_AREA_NAME'][i] for i in range(len(gdp_pc_ppp))}

In [ ]:
GDP = gdp_pc_ppp.copy()
GDP = GDP[['REF_AREA_ID','TIME_PERIOD','OBS_VALUE']]
GDP.rename(columns={'REF_AREA_ID':'iso3','TIME_PERIOD':'year','OBS_VALUE':'GDP'},inplace=True)
GDP['year'] = pd.to_datetime(GDP['year'], format='%Y',errors='coerce').dt.year
GDP['logGDP'] = np.log(GDP['GDP'])

     iso3  year           GDP    logGDP
0     AFE  1990   1804.850022  7.498233
1     AFW  1990   1727.098432  7.454198
2     ARB  1990   6796.211335  8.824121
3     CSS  1990   7293.576337  8.894749
4     CEB  1990   7527.912899  8.926373
...   ...   ...           ...       ...
8261  VUT  2023   3460.933714  8.149294
8262  VNM  2023  14973.883961  9.614063
8263  PSE  2023   5896.710829  8.682150
8264  ZMB  2023   4076.995087  8.313115
8265  ZWE  2023   3820.362629  8.248101

[8266 rows x 4 columns]

#### Schooling

In [26]:
SCH = schooling.copy()
SCH['INDICATOR_ID'] = SCH['INDICATOR_ID'].astype(str)
SCH = SCH[SCH['INDICATOR_ID'].str.contains('NART', na=False)] 
SCH = SCH.drop(columns=['MAGNITUDE','QUALIFIER'])
SCH = pd.merge(schooling_labels,SCH,how='left',on='INDICATOR_ID') # Merge the labels with the schooling data
SCH['YEAR'] = pd.to_datetime(SCH['YEAR'], format='%Y',errors='coerce').dt.year

In [27]:
Primary = SCH[SCH['INDICATOR_ID'].str.contains('NART.1', na=False)] # Filter for primary education
Secondary = SCH[SCH['INDICATOR_ID'].str.contains('NART.2', na=False)] # Filter for secondary education
Tertiary = SCH[SCH['INDICATOR_ID'].str.contains('NART.3', na=False)] # Filter for tertiary education

In [34]:
P = Primary.pivot(index=['COUNTRY_ID','YEAR'], columns='INDICATOR_LABEL_EN', values='VALUE').reset_index()
S = Secondary.pivot(index=['COUNTRY_ID','YEAR'], columns='INDICATOR_LABEL_EN', values='VALUE').reset_index()
T = Tertiary.pivot(index=['COUNTRY_ID','YEAR'], columns='INDICATOR_LABEL_EN', values='VALUE').reset_index()

In [35]:
P.rename(columns={'COUNTRY_ID':'iso3','YEAR':'year'}, inplace=True)
S.rename(columns={'COUNTRY_ID':'iso3','YEAR':'year'}, inplace=True)
T.rename(columns={'COUNTRY_ID':'iso3','YEAR':'year'}, inplace=True)

In [38]:
pd.set_option('display.max_rows', None)
print(P.isnull().sum())

INDICATOR_LABEL_EN
iso3                                                                                                               0
year                                                                                                               0
Total net attendance rate, primary education, adjusted gender parity index (GPIA)                                 29
Total net attendance rate, primary education, adjusted location parity index (LPIA)                               58
Total net attendance rate, primary education, adjusted wealth parity index (WPIA)                                 72
Total net attendance rate, primary education, female, adjusted location parity index (LPIA)                      321
Total net attendance rate, primary education, female, adjusted wealth parity index (WPIA)                        350
Total net attendance rate, primary education, fourth quintile, adjusted gender parity index (GPIA)               349
Total net attendance rate, primary education, fourth quintile, adjusted location parity index (LPIA)             351
Total net attendance rate, primary education, fourth quintile, female, adjusted location parity index (LPIA)     351
Total net attendance rate, primary education, fourth quintile, male, adjusted location parity index (LPIA)       351
Total net attendance rate, primary education, male, adjusted location parity index (LPIA)                        321
Total net attendance rate, primary education, male, adjusted wealth parity index (WPIA)                          350
Total net attendance rate, primary education, middle quintile, adjusted gender parity index (GPIA)               349
Total net attendance rate, primary education, middle quintile, adjusted location parity index (LPIA)             351
Total net attendance rate, primary education, middle quintile, female, adjusted location parity index (LPIA)     351
Total net attendance rate, primary education, middle quintile, male, adjusted location parity index (LPIA)       351
Total net attendance rate, primary education, poorest quintile, adjusted gender parity index (GPIA)              350
Total net attendance rate, primary education, poorest quintile, adjusted location parity index (LPIA)            355
Total net attendance rate, primary education, poorest quintile, female, adjusted location parity index (LPIA)    356
Total net attendance rate, primary education, poorest quintile, male, adjusted location parity index (LPIA)      355
Total net attendance rate, primary education, richest quintile, adjusted gender parity index (GPIA)              350
Total net attendance rate, primary education, richest quintile, adjusted location parity index (LPIA)            355
Total net attendance rate, primary education, richest quintile, female, adjusted location parity index (LPIA)    357
Total net attendance rate, primary education, richest quintile, male, adjusted location parity index (LPIA)      355
Total net attendance rate, primary education, rural, adjusted gender parity index (GPIA)                          58
Total net attendance rate, primary education, rural, adjusted wealth parity index (WPIA)                          92
Total net attendance rate, primary education, rural, female, adjusted wealth parity index (WPIA)                 357
Total net attendance rate, primary education, rural, fourth quintile, adjusted gender parity index (GPIA)        351
Total net attendance rate, primary education, rural, male, adjusted wealth parity index (WPIA)                   355
Total net attendance rate, primary education, rural, middle quintile, adjusted gender parity index (GPIA)        350
Total net attendance rate, primary education, rural, poorest quintile, adjusted gender parity index (GPIA)       351
Total net attendance rate, primary education, rural, richest quintile, adjusted gender parity index (GPIA)       357
Total net attendance rate, primary education, rural, second quintile, adjusted gender parity index (GPIA)        350
Total net attendance rate, primary education, second quintile, adjusted gender parity index (GPIA)               349
Total net attendance rate, primary education, second quintile, adjusted location parity index (LPIA)             351
Total net attendance rate, primary education, second quintile, female, adjusted location parity index (LPIA)     351
Total net attendance rate, primary education, second quintile, male, adjusted location parity index (LPIA)       352
Total net attendance rate, primary education, urban, adjusted gender parity index (GPIA)                          29
Total net attendance rate, primary education, urban, adjusted wealth parity index (WPIA)                          63
Total net attendance rate, primary education, urban, female, adjusted wealth parity index (WPIA)                 356
Total net attendance rate, primary education, urban, fourth quintile, adjusted gender parity index (GPIA)        350
Total net attendance rate, primary education, urban, male, adjusted wealth parity index (WPIA)                   355
Total net attendance rate, primary education, urban, middle quintile, adjusted gender parity index (GPIA)        351
Total net attendance rate, primary education, urban, poorest quintile, adjusted gender parity index (GPIA)       356
Total net attendance rate, primary education, urban, richest quintile, adjusted gender parity index (GPIA)       351
Total net attendance rate, primary education, urban, second quintile, adjusted gender parity index (GPIA)        352
Total net attendance rate, primary, both sexes (%)                                                                29
Total net attendance rate, primary, female (%)                                                                    29
Total net attendance rate, primary, fourth quintile, both sexes (%)                                               71
Total net attendance rate, primary, fourth quintile, female (%)                                                  349
Total net attendance rate, primary, fourth quintile, male (%)                                                    349
Total net attendance rate, primary, male (%)                                                                      29
Total net attendance rate, primary, middle quintile, both sexes (%)                                               71
Total net attendance rate, primary, middle quintile, female (%)                                                  349
Total net attendance rate, primary, middle quintile, male (%)                                                    349
Total net attendance rate, primary, poorest quintile, both sexes (%)                                              72
Total net attendance rate, primary, poorest quintile, female (%)                                                 350
Total net attendance rate, primary, poorest quintile, male (%)                                                   350
Total net attendance rate, primary, richest quintile, both sexes (%)                                              72
Total net attendance rate, primary, richest quintile, female (%)                                                 350
Total net attendance rate, primary, richest quintile, male (%)                                                   350
Total net attendance rate, primary, rural, both sexes (%)                                                         58
Total net attendance rate, primary, rural, female (%)                                                             58
Total net attendance rate, primary, rural, fourth quintile, both sexes (%)                                        88
Total net attendance rate, primary, rural, fourth quintile, female (%)                                           351
Total net attendance rate, primary, rural, fourth quintile, male (%)                                             351
Total net attendance rate, primary, rural, male  (%)                                                              58
Total net attendance rate, primary, rural, middle quintile, both sexes (%)                                        87
Total net attendance rate, primary, rural, middle quintile, female (%)                                           350
Total net attendance rate, primary, rural, middle quintile, male (%)                                             350
Total net attendance rate, primary, rural, poorest quintile, both sexes (%)                                       88
Total net attendance rate, primary, rural, poorest quintile, female (%)                                          351
Total net attendance rate, primary, rural, poorest quintile, male (%)                                            351
Total net attendance rate, primary, rural, richest quintile, both sexes (%)                                       92
Total net attendance rate, primary, rural, richest quintile, female (%)                                          357
Total net attendance rate, primary, rural, richest quintile, male (%)                                            355
Total net attendance rate, primary, rural, second quintile, both sexes (%)                                        87
Total net attendance rate, primary, rural, second quintile, female (%)                                           350
Total net attendance rate, primary, rural, second quintile, male (%)                                             350
Total net attendance rate, primary, second quintile, both sexes (%)                                               71
Total net attendance rate, primary, second quintile, female (%)                                                  349
Total net attendance rate, primary, second quintile, male (%)                                                    349
Total net attendance rate, primary, urban, both sexes (%)                                                         29
Total net attendance rate, primary, urban, female (%)                                                             29
Total net attendance rate, primary, urban, fourth quintile, both sexes (%)                                        58
Total net attendance rate, primary, urban, fourth quintile, female (%)                                           350
Total net attendance rate, primary, urban, fourth quintile, male (%)                                             350
Total net attendance rate, primary, urban, male  (%)                                                              29
Total net attendance rate, primary, urban, middle quintile, both sexes (%)                                        59
Total net attendance rate, primary, urban, middle quintile, female (%)                                           351
Total net attendance rate, primary, urban, middle quintile, male (%)                                             351
Total net attendance rate, primary, urban, poorest quintile, both sexes (%)                                       63
Total net attendance rate, primary, urban, poorest quintile, female (%)                                          356
Total net attendance rate, primary, urban, poorest quintile, male (%)                                            355
Total net attendance rate, primary, urban, richest quintile, both sexes (%)                                       59
Total net attendance rate, primary, urban, richest quintile, female (%)                                          351
Total net attendance rate, primary, urban, richest quintile, male (%)                                            351
Total net attendance rate, primary, urban, second quintile, both sexes (%)                                        59
Total net attendance rate, primary, urban, second quintile, female (%)                                           351
Total net attendance rate, primary, urban, second quintile, male (%)                                             352
dtype: int64